nibabel==5.1.0
numpy==1.24.3
scipy==1.10.1
SimpleITK==2.2.1
tqdm==4.65.0
matplotlib==3.7.1
scikit-image==0.21.0
pybasic-illumination-correction==0.1.1
dipy==1.7.0
scikit-learn==1.2.2
ome-zarr==0.8.0
zarr==2.16.1