manifest {
    nextflowVersion = '<= 23.10'
}

process {
    publishDir = {"$params.output"}
    scratch = false
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    afterScript='sleep 1'
}

profiles {
    standard {
        apptainer {
            autoMounts = true
            enabled = true
        }
    }

    calliste {
        apptainer {
            cacheDir='/mnt/scratch/apptainer/cache'
            libraryDir='/mnt/scratch/apptainer/library'
            autoMounts = true
            enabled = true
            runOptions = '-B /mnt/apptainer_tmp:/tmp'
        }
        docker {
            temp = '/mnt/apptainer_tmp'
        }
        process {
            withName: "create_mosaic_grid" { 
                scratch = false
            }
        }
    }
}