nextflowVersion = '<= 22.10'
singularity{
  autoMounts = true
  enabled = true
  runOptions = " --bind /lustre07/scratch/jreynaud"
}

process {
    scratch=true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    stageInMode='copy'
    stageOutMode='rsync'
    afterScript='sleep 1'
}

profiles {
  narval{
    max_memory='249G'
    max_cpu=64
    max_time='168h'
  }
}