process {
    publishDir = {"$params.output/$slice_id/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    maxRetries = 2
    stageInMode='symlink'
    stageOutMode='rsync'
    afterScript='sleep 1'
}

profiles {
    standard {
        apptainer {
            autoMounts = true
            enabled = true
        }
        process {
            withName: "resample_mosaic_grid" {
                scratch = false
            }
        }
    }

    calliste {
        apptainer {
            cacheDir='/scratchCalliste/apptainer/cache'
            libraryDir='/scratchCalliste/apptainer/library'
            autoMounts = true
            enabled = true
            runOptions = '-B /mnt/apptainer_tmp:/tmp'
        }
        docker {
            temp = '/mnt/apptainer_tmp'
        }
        process {
            withName: "resample_mosaic_grid" { 
                scratch = false
                maxForks = 4
            }
        }
    }
}