process {
    publishDir = {"$params.output/$slice_id/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    maxRetries = 2
    stageInMode='symlink'
    stageOutMode='rsync'
    afterScript='sleep 1'
}

params {
    input = ""
    shifts_xy = "$params.input/shifts_xy.csv"
    output = ""
    processes = 1 // Maximum number of python processes per nextflow process

    // Resolution of the reconstruction in micron/pixel
    resolution = 10  // can be set to -1 to skip

    // Clipping of outliers values
    clip_enabled = false
    clip_percentile_upper = 99.9
    clip_rescale = false  // rescale between 0 - 1

    // Detect and compensate focal curvature
    fix_curvature_enabled = true

    // Fix illumination inhomogeneities using BaSiC
    fix_illum_enabled = true

    // Maximum depth of the cropped image in microns
    crop_interface_out_depth = 600

    // Slices registration parameters
    moving_slice_first_index = 4 // Skip this many voxels from the top of the moving 3d mosaic when registering slices
    pairwise_transform = 'affine' // One of 'affine', 'euler', 'translation'
    pairwise_registration_metric = 'MSE' // One of 'MSE', 'CC', 'AntsCC' or 'MI'
    pairwise_mask_background = false // Mask background during pairwise registration
    pairwise_match_histograms = false // Match histograms during pairwise registration
}

profiles {
    standard {
        apptainer {
            autoMounts = true
            enabled = true
        }
        process {
            withName: "resample_mosaic_grid" {
                scratch = false
            }
        }
    }

    calliste {
        apptainer {
            cacheDir='/scratchCalliste/apptainer/cache'
            libraryDir='/scratchCalliste/apptainer/library'
            autoMounts = true
            enabled = true
            runOptions = '-B /mnt/apptainer_tmp:/tmp'
        }
        docker {
            temp = '/mnt/apptainer_tmp'
        }
        process {
            withName: "resample_mosaic_grid" { 
                scratch = false
                maxForks = 4
            }
        }
    }
}